<div class="modal fade" id="statusModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Update Status</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                        <input type="text" class="form-control"></input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="radio">
                            <div class="row">
                                <div class="col-md-4">
                                    <label><input type="radio" name="optradio">In</label>
                                </div>
                                <div class="col-md-4">
                                    <label><input type="radio" name="optradio">Out</label>
                                </div>
                                <div class="col-md-4">
                                    <label><input type="radio" name="optradio">Off-site</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="pull-right">
                            <input type="submit" class="btn btn-primary"
                                   value="Update"/>
                        </div>
                    </div>
                </div>
                <div class="row" style="height: 50px;">

                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 menu menu-block">
                        <h5>Quick Picks</h5>
                        <ul>
                            <li><a href="#">Out to Lunch</a></li>
                            <li><a href="#">Doctor Appointment</a></li>
                            <li><a href="#">Meeting</a></li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close
                </button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->